<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="infoAbout">
        <h1 class="title">Project: Basic Informational Site</h1>
        <p>This is a simple test website built for learning and practicing 
            the basic usage of Node.js. It demonstrates fundamental server-side concepts such 
            as routing, handling requests, and serving static content.</p>
    </div>
    <div class="buttons">
        <button><a href="/">Home</a></button>
        <button><a href="/about">About</a></button>
        <button><a href="/contact">Contact</a></button>
    </div>
    <%- include('partials/footer') %>
</body>
</html> 