<html lang="en">
<head>
    <%- include('partials/head') %>
</head>
<body>
    <%- include('partials/nav') %>
    <div class="info">
        <h1 class="title">Welcome to NodeJS</h1>
    </div>
    <div class="buttons">
        <button><a href="/">Home</a></button>
        <button><a href="/about">About</a></button>
        <button><a href="/contact">Contact</a></button>
    </div>
    <%- include('partials/footer') %>
</body>
</html> 